@charset "utf-8";
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: arial,"microsoft yahei",simsun,sans-self;
  line-height: 1.5;
  color: #606c71;
}
.page{
  width: 7.5rem;
  margin: 0 auto;
  font-size: .16rem;
  background-color: yellow;
}
@media screen and (min-width: 768px){
  .page{
    width: 750px;
  }
}
@media screen and (min-width: 992px){
  .page{
    width: 960px;
  }
}
.page-header h1{
  padding: .2rem;
  text-align: center;
  background-color: #00f;
}